<ion-item>

    <ion-avatar (click)="updateStatus($event)"
                class="md hydrated"
                slot="start">

        <ion-icon [name]=" data.done ? 'checkmark-circle-outline' : 'radio-button-off' "
                  style="font-size: 30px;"
        ></ion-icon>

    </ion-avatar>

    <ion-label>
        <h2>{{data.name}}</h2>
        <h3>{{data.amount | currency}}</h3>
    </ion-label>

    <ion-icon (click)="updateIsStarred($event)"
              [name]=" data.isImportant ? 'star' : 'star-outline' " slot="end"
    ></ion-icon>

</ion-item> 
