<nav class="navbar navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
    <ng-container *ngIf="authService.logInUser | async as user">
      <!--<pre>{{user|json}}</pre>-->
      <button class="btn btn-link text-white" (click)="logOut()">LOGOUT</button>
    </ng-container>
  </div>
</nav>
<div class="main-navigator border shadow-sm">
  <router-outlet></router-outlet>
</div>
<ng-container *ngIf="authService.logInUser | async as user">
  <ul class="nav nav-pills nav-fill rounded-0 nav-justified shadow-sm border fixed-bottom mb-2 mx-2">
    <!--<li class="nav-item rounded-0">
      <a class="nav-link rounded-0" routerLink="login" routerLinkActive="active">Login</a>
    </li>-->
    <li class="nav-item rounded-0">
      <a class="nav-link rounded-0" routerLink="cards" routerLinkActive="active">Cards</a>
    </li>
    <li class="nav-item rounded-0">
      <a class="nav-link rounded-0" routerLink="bank-accounts" routerLinkActive="active">Bank Accounts</a>
    </li>
    <li class="nav-item rounded-0">
      <a class="nav-link rounded-0" routerLink="cash" routerLinkActive="active">Cash</a>
    </li>
  </ul>
</ng-container>
