<div class="d-flex justify-content-center pt-5">
  <mat-card class="example-card" style="max-width: 400px;">
    <mat-card-title-group>
      <mat-card-title>Edit Card Details</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Credit Card Name</mat-label>
        <input matInput placeholder="Credit Card Name">
      </mat-form-field>


      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Credit Card Number</mat-label>
        <input matInput placeholder="Credit Card Number">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button routerLink="../../show-all">Cancel</button>
      <button mat-button>Save And Close</button>
      <button mat-button>Save & Add New</button>
    </mat-card-actions>

  </mat-card>
</div>
