<ion-header>
    <ion-toolbar>
        <ion-title>Manage Expenses Repeat Options</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeSetting()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">

            <ion-item *ngFor="let item of repeatOptionsList">
                <ion-label>
                    {{item.name}}
                </ion-label>
                <ion-button (click)="deleteItem(item)" color="danger" class="ion-margin-end"><ion-icon name="trash"></ion-icon></ion-button>
                <ion-reorder></ion-reorder>
            </ion-item>

        </ion-reorder-group>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addNewRepeater()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
